spark-warehouse
target
distr
debug
demodebug
.idea
.gigaide
.project
.classpath


docker/lakehouse-spark-aws
lakehouse-task-executor-spark-dataset-app/dependency-reduced-pom.xml
lakehouse-task-executor-spark-dq-app/dependency-reduced-pom.xml

/dev/k8s/lakehouse-management-helm-charts/lakehouse-management/charts/
/demo/k8s/lakehouse-management-helm-charts/lakehouse-management/charts/
/dev/k8s/lakehouse-management-helm-charts/lakehouse-management/Chart.lock
/demo/k8s/lakehouse-management-helm-charts/lakehouse-management/Chart.lock

/.venv/
/demo/compose/storages/minio_storage/.minio.sys/
/demo/compose/storages/minio_storage/data/
/demo/compose/storages/minio_storage/sparklogs/
