spark-warehouse
target
distr
debug
demodebug
.idea
.gigaide
.project
.classpath
spark-warehouse

/lakehouse-task-spark-apps/wh
/lakehouse-task-spark-apps/metastore_db/
/lakehouse-task-spark-apps/$PWD/
/lakehouse-task-spark-apps/derby.log
/lakehouse-task-spark-apps/dependency-reduced-pom.xml


/dev/log.log
